In [15]:
import pandas as pd
import numpy as np
from tqdm.notebook import tqdm

In [16]:
train_customer = pd.read_csv('data/train_customers.csv')
train_locations = pd.read_csv('data/train_locations.csv')
vendors = pd.read_csv('data/vendors.csv')

In [17]:
# drop duplicates for train customers
train_customer.drop_duplicates(subset = "akeed_customer_id", keep = False, inplace = True)

In [18]:
# merge train customer and locations
train = train_locations.merge(train_customer, left_on = "customer_id", right_on = "akeed_customer_id", how="left")
# add all rows of vendor to each train row
train = train.assign(key=1).merge(vendors.assign(key=1), on='key').drop('key',axis=1)

In [19]:
print(train.head())
print(len(train))

  customer_id  location_number location_type  latitude_x  longitude_x  \
0     02SFNJH                0           NaN    1.682392   -78.789737
1     02SFNJH                0           NaN    1.682392   -78.789737
2     02SFNJH                0           NaN    1.682392   -78.789737
3     02SFNJH                0           NaN    1.682392   -78.789737
4     02SFNJH                0           NaN    1.682392   -78.789737

  akeed_customer_id gender  dob  status_x  verified_x  ... open_close_flags  \
0           02SFNJH    NaN  NaN       1.0         1.0  ...              1.0
1           02SFNJH    NaN  NaN       1.0         1.0  ...              1.0
2           02SFNJH    NaN  NaN       1.0         1.0  ...              1.0
3           02SFNJH    NaN  NaN       1.0         1.0  ...              1.0
4           02SFNJH    NaN  NaN       1.0         1.0  ...              1.0

                  vendor_tag  \
0  2,4,5,8,91,22,12,24,16,23
1  4,41,51,34,27,15,24,16,28
2                  4,8,91,10
3                  5,8,30,24
4                          5

                                     vendor_tag_name  one_click_vendor  \
0  Arabic,Breakfast,Burgers,Desserts,Free Deliver...                 Y
1  Breakfast,Cakes,Crepes,Italian,Pasta,Pizzas,Sa...                 Y
2            Breakfast,Desserts,Free Delivery,Indian                 Y
3                      Burgers,Desserts,Fries,Salads                 Y
4                                            Burgers                 Y

   country_id  city_id         created_at_y         updated_at_y  device_type  \
0         1.0      1.0  2018-01-30 14:42:04  2020-04-07 15:12:43            3
1         1.0      1.0  2018-05-03 12:32:06  2020-04-05 20:46:03            3
2         1.0      1.0  2018-05-04 22:28:22  2020-04-07 16:35:55            3
3         1.0      1.0  2018-05-06 19:20:48  2020-04-02 00:56:17            3
4         1.0      1.0  2018-05-17 22:12:38  2020-04-05 15:57:41            3

   display_orders
0               1
1               1
2               1
3               1
4               1

[5 rows x 72 columns]
5950300

In [20]:
data_types = dict(train.dtypes)

In [21]:
data_types

{'customer_id': dtype('O'),
 'location_number': dtype('int64'),
 'location_type': dtype('O'),
 'latitude_x': dtype('float64'),
 'longitude_x': dtype('float64'),
 'akeed_customer_id': dtype('O'),
 'gender': dtype('O'),
 'dob': dtype('float64'),
 'status_x': dtype('float64'),
 'verified_x': dtype('float64'),
 'language_x': dtype('O'),
 'created_at_x': dtype('O'),
 'updated_at_x': dtype('O'),
 'id': dtype('int64'),
 'authentication_id': dtype('float64'),
 'latitude_y': dtype('float64'),
 'longitude_y': dtype('float64'),
 'vendor_category_en': dtype('O'),
 'vendor_category_id': dtype('float64'),
 'delivery_charge': dtype('float64'),
 'serving_distance': dtype('float64'),
 'is_open': dtype('float64'),
 'OpeningTime': dtype('O'),
 'OpeningTime2': dtype('O'),
 'prepration_time': dtype('int64'),
 'commission': dtype('float64'),
 'is_akeed_delivering': dtype('O'),
 'discount_percentage': dtype('float64'),
 'status_y': dtype('float64'),
 'verified_y': dtype('int64'),
 'rank': dtype('int64'),
 'language_y': dtype('O'),
 'vendor_rating': dtype('float64'),
 'sunday_from_time1': dtype('O'),
 'sunday_to_time1': dtype('O'),
 'sunday_from_time2': dtype('O'),
 'sunday_to_time2': dtype('O'),
 'monday_from_time1': dtype('O'),
 'monday_to_time1': dtype('O'),
 'monday_from_time2': dtype('O'),
 'monday_to_time2': dtype('O'),
 'tuesday_from_time1': dtype('O'),
 'tuesday_to_time1': dtype('O'),
 'tuesday_from_time2': dtype('O'),
 'tuesday_to_time2': dtype('O'),
 'wednesday_from_time1': dtype('O'),
 'wednesday_to_time1': dtype('O'),
 'wednesday_from_time2': dtype('O'),
 'wednesday_to_time2': dtype('O'),
 'thursday_from_time1': dtype('O'),
 'thursday_to_time1': dtype('O'),
 'thursday_from_time2': dtype('O'),
 'thursday_to_time2': dtype('O'),
 'friday_from_time1': dtype('O'),
 'friday_to_time1': dtype('O'),
 'friday_from_time2': dtype('O'),
 'friday_to_time2': dtype('O'),
 'saturday_from_time1': dtype('O'),
 'saturday_to_time1': dtype('O'),
 'saturday_from_time2': dtype('O'),
 'saturday_to_time2': dtype('O'),
 'primary_tags': dtype('O'),
 'open_close_flags': dtype('float64'),
 'vendor_tag': dtype('O'),
 'vendor_tag_name': dtype('O'),
 'one_click_vendor': dtype('O'),
 'country_id': dtype('float64'),
 'city_id': dtype('float64'),
 'created_at_y': dtype('O'),
 'updated_at_y': dtype('O'),
 'device_type': dtype('int64'),
 'display_orders': dtype('int64')}

In [22]:
train['customer_id'] = train['customer_id'].astype(str)

In [23]:
data_types['customer_id'] == np.dtype('O')

True

In [24]:
train['CID X LOC_NUM X VENDOR'] = train["akeed_customer_id"].astype(str)+" X "+ \
train["location_number"].astype(str) +" X "+ train["id"].astype(str)

In [25]:
len(train)

5950300